* {
  color: #565A65 !important;
}
body {
  width: 100%;
  overflow: hidden;
}
hr { background-color: #565A65; }

.mb-50 { margin-bottom: 50px; }
.mb-30 { margin-bottom: 30px; }
.mb-10 { margin-bottom: 10px; }
.mr-10 { margin-right: 10px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold !important;
}

.bold { font-weight: bold; }

#menu {
  width: 100%;
  background: #fff;
  z-index: 100;
}
#menu ul {
  height: 140px;
  justify-content: center;
}
#menu li {
  margin: auto 15px;
}
#sp-sns ul {
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: -50px;
  margin-right: 5%;
}
#sp-sns li { margin-left: 10px; }

.fixed {
  position: fixed;
  top: 0;
  padding: 0 15px;
}

.link-popup:after {
  content: url('../img/common/btn_popup.png');
  transform: scale(.5);
}

.btn-cart:not(.is-disabled):after {
  content: url('../img/common/btn_cart.png');
  transform: scale(.5);
}
.btn-contact:after {
  content: url('../img/common/btn_contact.png');
  transform: scale(.5);
}


.lightgrey { background: #F9F9F9 !important; }
.grey { background: #EEE !important; }
.darkgrey { background: #DDD !important; }
.dark {background: #565A65 !important; }

section {
  margin: 0 !important;
  padding: 80px 15% !important;
  max-width: 100% !important;
}
@media (max-width: 999px) {
  section {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  section .container {
    margin-right: 5% !important;
    margin-left: 5% !important;
  }
}
.box {
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 0;
}
.box.bordered, .button {
  border: 1px solid #565A65 !important;
}
.button.is-dark, .button.is-dark:hover {
  color: #f5f5f5 !important;
}
.btn-cart, .btn-contact, .btn-about {
  height: 3.0em;
  width: 80%;
  font-size: 1.2rem;
}
@media (max-width: 999px) {
  .btn-cart, .btn-contact, .btn-about {
    width: 100%;
  }
}


dt:before, dd:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 10px;
  width: 27px;
  height: 30px;
  margin-right: 15px;
}
dt:before {
  background: url('../img/faq/txt_q.gif');
  background-size: cover;
}
dd:before {
  background: url('../img/faq/txt_a.gif');
  background-size: cover;
}
dt { margin-bottom: 10px; }
dd { margin-bottom: 20px; }
dt, dd {
  margin-left: 42px;
  text-indent: -42px;
}
menu { -webkit-padding-start: 0; }

#footer { color: #ddd !important; }
#footer p, #footer a, #footer a:visited { color: #fff !important; }
#footer .is-one-third li:first-child { margin-right: 10px; }

@media (min-width: 999px) {
  #footer menu li {
    display: inline;
  }
  #footer menu li:not(:last-child):after {
    content: '|';
    display: inline-block;
    margin: 0 5px;
  }
}


.profile {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
#masuda { background-image: url('../img/starter/profile_masuda.jpg'); }
#sueki { background-image: url('../img/starter/profile_sueki.jpg'); }

.steps .wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto 15px;
}
.steps-four .wrapper {
  width: 90%;
}
.steps .wrapper:before {
  content:"";
  display: block;
  padding-top: 100%;
}
.steps h3 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  border-radius: 50%;
}
.steps h3 img { margin-bottom: 7px; }
.steps-two h3 { padding-top: 35%; }
.steps-four h3 { padding-top: 30%; }

.title.is-flex {
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1000px) {
  .title.is-flex small{
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
  }
}

.box-cart {
  padding: 2.0em;
}


@media (max-width: 999px) {
  .title.is-4-mobile { font-size: 1.5rem; }
  .title.is-5-mobile { font-size: 1.25rem; }
  .title.is-6-mobile { font-size: 14px; }
}

.circle { position: relative; }
.circle img {
  position: absolute;
  z-index: 100;
  top: 30px;
  left: 19px;
}
.circle div:after {
  content: '';
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

@media (max-width: 999px) {
  .accordion { display: none; }
  .divider {
    text-align: center;
    border-top: 1px solid #565A65;
  }
  .btn-accordion {
    border-top: none !important;
    border-radius: 0 0 7px 7px;
    padding-right: 25px;
    padding-left: 25px;
  }
}


#btn-sp-menu {
  position: fixed;
  top: 10px;
  right: 10px;
}
#btn-sp-menu i {
  color: #fff !important;
}
#sp-menu {
  position: fixed;
  z-index: 100;
  font-size: 1.2rem;
  line-height: 1.7;
  top: 0;
  right: -90%;
  width: 90%;
  padding: 30px 20px 80px 50px;
}
#sp-menu p, #sp-menu a, #sp-menu a:visited { color: #fff !important; }
#sp-menu .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


/* Calendar  */
#calendar .wrapper {
  position: relative;
  width: 100%;
}
#calendar .wrapper:before {
    content:"";
    display: block;
    padding-top: 100%;
}
#calendar .wrapper .box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
