.p-gnav{
    position: absolute;
    top: 100vh;
    background: #fff;
    height: 95px;
    box-sizing: border-box;
    padding-top: 34px;
    width: 100%;
}

.p-gnav--products{
    top: 115px;
}

.swiper-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
}

.p-links{
    width: 140px;
    position: fixed;
    bottom: 80px;
    right: 60px;
    z-index: 1;
}

.p-links--sp{
    display: none;
    text-align: center;
}

#ourservice{
    padding-top: 83px
}

.products__flow{
    margin-bottom: 70px;
}

@media all and (max-width: 767px){
    #ourservice{
        padding-top: 0;
    }
}

@media all and (max-width: 767px) {
    .p-links{
        display: none;
    }
    .p-links--sp{
        display: block;
        width: 75%;
        margin: 20px auto;
    }
}

.p-banner{
    width: 100%;
    background: url(../images/fq-shop-banner.jpg);
    background-size: cover;
    border-radius: 5px;
    color: white;
    padding: 20px 5%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    span{
        font-size: 28px;
        font-weight: bold;
        display: block;
    }
}

.p-banner-mother{
    background: url(../images/fq-mother-banner.jpg);
    background-size: cover;
    margin-top: 30px;
    span{
        font-family: 'Qwigley', cursive;
        font-size: 60px;
        letter-spacing: 1px;
        font-weight: normal;
        line-height: 1;
    }
}

.about__bgimage{
    width: 100%;
    background: url(../images/fq-aboutus-back.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -90px;
    padding: 210px 0;
    color: #fff;
}

@media all and (max-width: 620px) {
    .about__bgimage{
        padding: 45px 0;
    }
}

.p-news{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

@media all and (max-width: 620px) {
.p-news{
    width: 90%;
    margin: 0 auto;
    iframe{
        width: 100%;
    }
}   
}

#footer{
    margin: 120px auto 20px auto;
}

@media all and (max-width: 768px) {
    #footer{
        margin-top: 0;
    }
}

.f__nav{
    width: 620px;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

@media all and (max-width: 620px) {
    .f__nav{
        width: 90%;
    }
}